@model OXXO_AGM.Models.Banco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Banco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banco1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioFai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioFai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioFum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioFum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBanco">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
